<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>password-reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">password-reset</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #form="ngForm" (ngSubmit)="resetpassword(form)">
    <div>
      <ion-item>
        <ion-input
          name="email"
          type="email"
          placeholder="youremail@example.com"
          ngModel
          required
        ></ion-input>

      </ion-item>
    </div>
    <div>
      <ion-button type="submit" [disabled]="form.invalid"> Cambiar Contraseña </ion-button>
    </div>
  </form>
</ion-content>
